-c requirements.txt

deepdiff~=4.0
jsonpath-rw~=1.4
mock~=3.0
pytest~=5.3
pytest-cov~=2.8
python-dateutil<2.8.1,>=2.1

# below is indexd and its dependencies
git+https://github.com/uc-cdis/doiclient.git@1.0.0#egg=doiclient
git+https://github.com/uc-cdis/dosclient.git@1.0.0#egg=dosclient
git+https://git@github.com/NCI-GDC/indexd.git@2.8.0#egg=indexd
