-c requirements.txt

jsonpath-ng~=1.5.3
mock~=3.0
more-itertools==8.14.0
pytest
pytest-cov~=2.8
python-dateutil<2.8.1,>=2.1
pytest-elasticsearch

# below is indexd and its dependencies
git+https://github.com/uc-cdis/doiclient.git@1.0.0#egg=doiclient
git+https://github.com/uc-cdis/dosclient.git@1.0.0#egg=dosclient
git+ssh://git@github.com/NCI-GDC/indexd.git@2.9.0-rc.1#egg=indexd
git+ssh://git@github.com/NCI-GDC/indexclient.git@2.3.3#egg=indexclient[pytest_indexd]
