moto==0.4.24
pytest==3.4.2
mock==1.3.0
jsonpath-rw==1.4.0
-e git+ssh://git@github.com/NCI-GDC/gdc-models.git@0.1.7#egg=gdcmodels
-e git+https://github.com/uc-cdis/cdisutils-test.git@0.2.0#egg=cdisutilstest
-e git+https://github.com/uc-cdis/cdis-python-utils.git@0.1.7#egg=cdispyutils
-e git+https://github.com/uc-cdis/indexd.git@0.4.1#egg=indexd