filechunkio==1.6
progressbar==2.2
addict==0.2.7
networkx==1.10
requests==2.6.0
elasticsearch>=5.0.0,<6.0.0
xlrd==0.9.3
consulate==0.4
datadog==0.9.0
-e git+ssh://git@github.com/NCI-GDC/cdisutils.git@4a75cc05c7ba2174e70cca9c9ea7e93947f7a868#egg=cdisutils
-e git+ssh://git@github.com/NCI-GDC/gdcdictionary.git@6a8ddf96ad59b44163c5091d80e04245db4a6e9a#egg=gdcdictionary
-e git+ssh://git@github.com/NCI-GDC/psqlgraph.git@4fbeddeb058ad09741c5d2b9aacbd1c63cfc3dd1#egg=psqlgraph
-e git+ssh://git@github.com/NCI-GDC/gdcdatamodel.git@0b9db97dca093241b66836aa5da223adb68f3310#egg=gdcdatamodel
